
<div class="container border py-3 my-3">
    <div class="table-responsive">
        <table id="tblPostDetails" class="table table-bordered table-striped table-hover dataTable">
            <thead>
                <tr class="align-middle">
                    <td>Latest Articles  </td>
                </tr>
            </thead>
            <tbody class="js-sweetalert"></tbody>
        </table>
    </div>

    <small class="d-block text-end mt-3">
        <a href="#">All updates</a>
    </small>
</div>
