
@{
    ViewBag.Title = "PostDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/datatables.net-bs4/css/responsive.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/datatables.net-bs4/css/jquery-ui.css" rel="stylesheet" />


<div class="container mt-3">
    <div class="row">
        @*<div class="col-md-4"></div>*@
        <div class="col-md-6 col-sm-10">
            <input class="form-control border-end-0 border rounded-pill"  type="search" placeholder="search" id="example-search-input">
        </div>
       
        <div class="col-md-2 col-sm-2">
            <button type="button" onclick="GetRedirectToPost();" class="btn btn-primary btn-sm"><i class="fa fa-pen text-lg-end"> Post</i></button>
        </div>

        <br>
        <div class="table-responsive">

            <table id="tblPostDetails" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                    <tr class="align-middle">
                        <td>Articles </td>
                    </tr>
                </thead>
                <tbody class="js-sweetalert"></tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/Datatable")
}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="~/Areas/Post/JS/PostDetails.js"></script>
<script>
    $(document).ready(function () {
        $('#tblPostDetails_filter').hide();
        $('#tblPostDetails_length').hide();
        $('#example-search-input').keyup(function () {
            table.search($(this).val()).draw();
        })
    });
</script>