USE [CommonForum]
GO
/****** Object:  Table [dbo].[TBL_ANSWERS]    Script Date: 05-05-2023 05:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ANSWERS](
	[ANSWERS_ID] [int] IDENTITY(1,1) NOT NULL,
	[ANSWER] [varchar](max) NULL,
	[USER_ID] [int] NULL,
	[USER_NAME] [varchar](30) NULL,
	[ADDED_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ANSWERS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ASKED_QUESTIONS]    Script Date: 05-05-2023 05:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ASKED_QUESTIONS](
	[ASKED_QUESTIONS_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](200) NULL,
	[STOPPER_DETAILS] [varchar](max) NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
	[POST_VIEW] [int] NULL,
	[INSERT_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ASKED_QUESTIONS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_COMMENT]    Script Date: 05-05-2023 05:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_COMMENT](
	[COMMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[COMMENT] [varchar](50) NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
	[POST_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COMMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_POST]    Script Date: 05-05-2023 05:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_POST](
	[SRNO] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](100) NULL,
	[POST] [varchar](max) NULL,
	[ADDED_DATE] [datetime] NULL,
	[ADDED_BY] [varchar](10) NULL,
	[UPDATED_BY] [datetime] NULL,
	[UPDATED_BY_DATE] [datetime] NULL,
	[POST_VIEW] [int] NULL,
	[INSERT_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SRNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_QUESTION_ANSWER_MAPPING]    Script Date: 05-05-2023 05:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_QUESTION_ANSWER_MAPPING](
	[ANSWER_MAPPING] [int] IDENTITY(1,1) NOT NULL,
	[ASKED_QUESTIONS_ID] [int] NULL,
	[ANSWERS_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ANSWER_MAPPING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TOPICS]    Script Date: 05-05-2023 05:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TOPICS](
	[TOPICS_ID] [int] IDENTITY(1,1) NOT NULL,
	[TOPIC] [varchar](30) NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TOPICS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER_LOGIN]    Script Date: 05-05-2023 05:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER_LOGIN](
	[SRNO] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [uniqueidentifier] NULL,
	[USER_NAME] [varchar](50) NULL,
	[PASSWORD] [varchar](200) NULL,
	[ROLE_ID] [int] NULL,
	[EMAIL_ID] [varchar](200) NULL,
	[IS_ACTIVE] [bit] NULL,
	[IS_AUTHENTICATED] [bit] NULL,
	[OTP] [varchar](50) NULL,
	[ADDED_BY] [varchar](20) NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[UPDATED_BY_DATETIME] [datetime] NULL,
	[ACTIVATION_CODE] [uniqueidentifier] NULL,
	[ACTIVATION_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SRNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER_POST_MAPPING]    Script Date: 05-05-2023 05:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER_POST_MAPPING](
	[USER_POST_MAPPING_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[POST_ID] [int] NULL,
	[ADDED_DATETIME] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_BY_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_POST_MAPPING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER_QUESTION_MAPPING]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER_QUESTION_MAPPING](
	[USER_QUESTION_MAPPING_ID] [int] IDENTITY(1,1) NOT NULL,
	[ASKED_QUESTIONS_ID] [int] NULL,
	[USER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_QUESTION_MAPPING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER_QUESTION_TOPICS_MAPPING]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER_QUESTION_TOPICS_MAPPING](
	[QUESTION_TOPICS_ID] [int] IDENTITY(1,1) NOT NULL,
	[ASKED_QUESTIONS_ID] [int] NULL,
	[TOPICS_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QUESTION_TOPICS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER_ROLE]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER_ROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](20) NULL,
	[IS_ACTIVE] [bit] NULL,
	[ADDED_BY] [varchar](10) NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER_TOPICS_MAPPING]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER_TOPICS_MAPPING](
	[TOPICS_MAPPING_ID] [int] IDENTITY(1,1) NOT NULL,
	[TOPICS_ID] [int] NULL,
	[POST_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TOPICS_MAPPING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](56) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL,
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_ANSWERS] ON 

INSERT [dbo].[TBL_ANSWERS] ([ANSWERS_ID], [ANSWER], [USER_ID], [USER_NAME], [ADDED_DATETIME]) VALUES (1, N'<p>bkk</p>
', 1, N'', CAST(N'2023-03-26T19:38:19.787' AS DateTime))
INSERT [dbo].[TBL_ANSWERS] ([ANSWERS_ID], [ANSWER], [USER_ID], [USER_NAME], [ADDED_DATETIME]) VALUES (2, N'<p>knljjjl</p>
', 1, N'', CAST(N'2023-03-26T21:13:38.040' AS DateTime))
INSERT [dbo].[TBL_ANSWERS] ([ANSWERS_ID], [ANSWER], [USER_ID], [USER_NAME], [ADDED_DATETIME]) VALUES (3, N'<p><strong><u>Database</u></strong></p>

<p>I have made use of the following table&nbsp;<u>Customers</u>&nbsp;with the schema as follows.&nbsp;<u>CustomerId</u>&nbsp;is an Auto-Increment (Identity) column.</p>

<p>&nbsp;</p>
', 1, N'', CAST(N'2023-03-29T18:59:10.583' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_ANSWERS] OFF
SET IDENTITY_INSERT [dbo].[TBL_ASKED_QUESTIONS] ON 

INSERT [dbo].[TBL_ASKED_QUESTIONS] ([ASKED_QUESTIONS_ID], [TITLE], [STOPPER_DETAILS], [ADDED_BY], [ADDED_BY_DATETIME], [POST_VIEW], [INSERT_DATETIME]) VALUES (2, N'SFER', N'<p>WEREWR</p>
', 0, CAST(N'2023-04-12T17:47:38.923' AS DateTime), 2, CAST(N'2023-04-12T17:45:25.027' AS DateTime))
INSERT [dbo].[TBL_ASKED_QUESTIONS] ([ASKED_QUESTIONS_ID], [TITLE], [STOPPER_DETAILS], [ADDED_BY], [ADDED_BY_DATETIME], [POST_VIEW], [INSERT_DATETIME]) VALUES (3, N'dgfdfg', N'<p>dfgfdg</p>
', 0, CAST(N'2023-04-12T17:47:38.923' AS DateTime), 1, CAST(N'2023-04-12T17:45:25.027' AS DateTime))
INSERT [dbo].[TBL_ASKED_QUESTIONS] ([ASKED_QUESTIONS_ID], [TITLE], [STOPPER_DETAILS], [ADDED_BY], [ADDED_BY_DATETIME], [POST_VIEW], [INSERT_DATETIME]) VALUES (4, N'dfgfdgfdg', N'<p>fgdfgf</p>
', 0, CAST(N'2023-04-12T17:47:38.923' AS DateTime), NULL, CAST(N'2023-04-12T17:45:25.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_ASKED_QUESTIONS] OFF
SET IDENTITY_INSERT [dbo].[TBL_COMMENT] ON 

INSERT [dbo].[TBL_COMMENT] ([COMMENT_ID], [COMMENT], [ADDED_BY], [ADDED_BY_DATETIME], [POST_ID]) VALUES (1, N'FSDFSD', 1, CAST(N'2023-04-12T11:56:08.420' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TBL_COMMENT] OFF
SET IDENTITY_INSERT [dbo].[TBL_POST] ON 

INSERT [dbo].[TBL_POST] ([SRNO], [TITLE], [POST], [ADDED_DATE], [ADDED_BY], [UPDATED_BY], [UPDATED_BY_DATE], [POST_VIEW], [INSERT_DATETIME]) VALUES (1, N'GERTERT', N'<p>ERTERT</p>
', CAST(N'2023-04-12T11:47:33.760' AS DateTime), N'SYSTEM', NULL, NULL, 3, CAST(N'2023-04-12T18:00:15.907' AS DateTime))
INSERT [dbo].[TBL_POST] ([SRNO], [TITLE], [POST], [ADDED_DATE], [ADDED_BY], [UPDATED_BY], [UPDATED_BY_DATE], [POST_VIEW], [INSERT_DATETIME]) VALUES (2, N'FSFSDF', N'<p>DFDSF</p>
', CAST(N'2023-04-12T11:56:58.520' AS DateTime), N'SYSTEM', NULL, NULL, 1, CAST(N'2023-04-12T18:00:15.907' AS DateTime))
INSERT [dbo].[TBL_POST] ([SRNO], [TITLE], [POST], [ADDED_DATE], [ADDED_BY], [UPDATED_BY], [UPDATED_BY_DATE], [POST_VIEW], [INSERT_DATETIME]) VALUES (4, N'dffdg', N'<p>dfgdg</p>
', CAST(N'2023-04-12T13:17:34.360' AS DateTime), N'SYSTEM', NULL, NULL, 1, CAST(N'2023-04-12T18:00:15.907' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_POST] OFF
SET IDENTITY_INSERT [dbo].[TBL_QUESTION_ANSWER_MAPPING] ON 

INSERT [dbo].[TBL_QUESTION_ANSWER_MAPPING] ([ANSWER_MAPPING], [ASKED_QUESTIONS_ID], [ANSWERS_ID]) VALUES (1, 2, 2002)
SET IDENTITY_INSERT [dbo].[TBL_QUESTION_ANSWER_MAPPING] OFF
SET IDENTITY_INSERT [dbo].[TBL_TOPICS] ON 

INSERT [dbo].[TBL_TOPICS] ([TOPICS_ID], [TOPIC], [ADDED_BY], [ADDED_BY_DATETIME], [IS_DELETED]) VALUES (1, N'ASP.NET', 1, CAST(N'2023-03-20T16:29:48.767' AS DateTime), NULL)
INSERT [dbo].[TBL_TOPICS] ([TOPICS_ID], [TOPIC], [ADDED_BY], [ADDED_BY_DATETIME], [IS_DELETED]) VALUES (2, N'ASP.NET MVC', 1, CAST(N'2023-03-20T16:29:48.830' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TBL_TOPICS] OFF
SET IDENTITY_INSERT [dbo].[TBL_USER_LOGIN] ON 

INSERT [dbo].[TBL_USER_LOGIN] ([SRNO], [USER_ID], [USER_NAME], [PASSWORD], [ROLE_ID], [EMAIL_ID], [IS_ACTIVE], [IS_AUTHENTICATED], [OTP], [ADDED_BY], [ADDED_BY_DATETIME], [UPDATED_BY], [UPDATED_BY_DATETIME], [ACTIVATION_CODE], [ACTIVATION_DATETIME]) VALUES (1, N'f7eae675-9e07-4af1-841f-cf0f2b9fa9be', N'amar', N'amar@123', 2, N'asutar2012@gmail.com', 1, 0, NULL, N'SYSTEM', CAST(N'2022-10-22T22:09:30.550' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[TBL_USER_LOGIN] ([SRNO], [USER_ID], [USER_NAME], [PASSWORD], [ROLE_ID], [EMAIL_ID], [IS_ACTIVE], [IS_AUTHENTICATED], [OTP], [ADDED_BY], [ADDED_BY_DATETIME], [UPDATED_BY], [UPDATED_BY_DATETIME], [ACTIVATION_CODE], [ACTIVATION_DATETIME]) VALUES (2, N'68354662-d9c2-4c8a-81d4-d08fdb6c9164', N'sham', N'sham@123', 2, N'sham@gmail.com', 1, 0, NULL, N'SYSTEM', CAST(N'2022-10-24T17:22:49.393' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_USER_LOGIN] OFF
SET IDENTITY_INSERT [dbo].[TBL_USER_POST_MAPPING] ON 

INSERT [dbo].[TBL_USER_POST_MAPPING] ([USER_POST_MAPPING_ID], [USER_ID], [POST_ID], [ADDED_DATETIME], [UPDATED_BY], [UPDATED_BY_DATETIME]) VALUES (1, 1, 1, CAST(N'2023-04-12T11:47:33.763' AS DateTime), NULL, NULL)
INSERT [dbo].[TBL_USER_POST_MAPPING] ([USER_POST_MAPPING_ID], [USER_ID], [POST_ID], [ADDED_DATETIME], [UPDATED_BY], [UPDATED_BY_DATETIME]) VALUES (2, 2, 2, CAST(N'2023-04-12T11:56:58.520' AS DateTime), NULL, NULL)
INSERT [dbo].[TBL_USER_POST_MAPPING] ([USER_POST_MAPPING_ID], [USER_ID], [POST_ID], [ADDED_DATETIME], [UPDATED_BY], [UPDATED_BY_DATETIME]) VALUES (3, 1, 4, CAST(N'2023-04-12T13:17:34.360' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_USER_POST_MAPPING] OFF
SET IDENTITY_INSERT [dbo].[TBL_USER_QUESTION_MAPPING] ON 

INSERT [dbo].[TBL_USER_QUESTION_MAPPING] ([USER_QUESTION_MAPPING_ID], [ASKED_QUESTIONS_ID], [USER_ID]) VALUES (1, 2, 2)
INSERT [dbo].[TBL_USER_QUESTION_MAPPING] ([USER_QUESTION_MAPPING_ID], [ASKED_QUESTIONS_ID], [USER_ID]) VALUES (2, 3, 1)
INSERT [dbo].[TBL_USER_QUESTION_MAPPING] ([USER_QUESTION_MAPPING_ID], [ASKED_QUESTIONS_ID], [USER_ID]) VALUES (3, 4, 1)
SET IDENTITY_INSERT [dbo].[TBL_USER_QUESTION_MAPPING] OFF
SET IDENTITY_INSERT [dbo].[TBL_USER_QUESTION_TOPICS_MAPPING] ON 

INSERT [dbo].[TBL_USER_QUESTION_TOPICS_MAPPING] ([QUESTION_TOPICS_ID], [ASKED_QUESTIONS_ID], [TOPICS_ID]) VALUES (1, 2, 2)
INSERT [dbo].[TBL_USER_QUESTION_TOPICS_MAPPING] ([QUESTION_TOPICS_ID], [ASKED_QUESTIONS_ID], [TOPICS_ID]) VALUES (2, 3, 2)
INSERT [dbo].[TBL_USER_QUESTION_TOPICS_MAPPING] ([QUESTION_TOPICS_ID], [ASKED_QUESTIONS_ID], [TOPICS_ID]) VALUES (3, 4, 2)
SET IDENTITY_INSERT [dbo].[TBL_USER_QUESTION_TOPICS_MAPPING] OFF
SET IDENTITY_INSERT [dbo].[TBL_USER_ROLE] ON 

INSERT [dbo].[TBL_USER_ROLE] ([ROLE_ID], [NAME], [IS_ACTIVE], [ADDED_BY], [ADDED_BY_DATETIME]) VALUES (1, N'Manager', 1, N'SYSTEM', CAST(N'2022-10-22T20:54:32.793' AS DateTime))
INSERT [dbo].[TBL_USER_ROLE] ([ROLE_ID], [NAME], [IS_ACTIVE], [ADDED_BY], [ADDED_BY_DATETIME]) VALUES (2, N'Developer', 1, N'SYSTEM', CAST(N'2022-10-22T20:54:32.860' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_USER_ROLE] OFF
SET IDENTITY_INSERT [dbo].[TBL_USER_TOPICS_MAPPING] ON 

INSERT [dbo].[TBL_USER_TOPICS_MAPPING] ([TOPICS_MAPPING_ID], [TOPICS_ID], [POST_ID]) VALUES (1, 2, 1)
INSERT [dbo].[TBL_USER_TOPICS_MAPPING] ([TOPICS_MAPPING_ID], [TOPICS_ID], [POST_ID]) VALUES (2, 2, 2)
INSERT [dbo].[TBL_USER_TOPICS_MAPPING] ([TOPICS_MAPPING_ID], [TOPICS_ID], [POST_ID]) VALUES (3, 2, 4)
SET IDENTITY_INSERT [dbo].[TBL_USER_TOPICS_MAPPING] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F28456D777BC69]    Script Date: 05-05-2023 05:33:34 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__webpages__8A2B6160107623E3]    Script Date: 05-05-2023 05:33:34 PM ******/
ALTER TABLE [dbo].[webpages_Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [PasswordFailuresSinceLastSuccess]
GO
ALTER TABLE [dbo].[TBL_QUESTION_ANSWER_MAPPING]  WITH CHECK ADD FOREIGN KEY([ANSWERS_ID])
REFERENCES [dbo].[TBL_ANSWERS] ([ANSWERS_ID])
GO
ALTER TABLE [dbo].[TBL_QUESTION_ANSWER_MAPPING]  WITH CHECK ADD FOREIGN KEY([ASKED_QUESTIONS_ID])
REFERENCES [dbo].[TBL_ASKED_QUESTIONS] ([ASKED_QUESTIONS_ID])
GO
ALTER TABLE [dbo].[TBL_USER_LOGIN]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[TBL_USER_ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[TBL_USER_POST_MAPPING]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[TBL_USER_LOGIN] ([SRNO])
GO
ALTER TABLE [dbo].[TBL_USER_QUESTION_TOPICS_MAPPING]  WITH CHECK ADD FOREIGN KEY([ASKED_QUESTIONS_ID])
REFERENCES [dbo].[TBL_ASKED_QUESTIONS] ([ASKED_QUESTIONS_ID])
GO
ALTER TABLE [dbo].[TBL_USER_QUESTION_TOPICS_MAPPING]  WITH CHECK ADD FOREIGN KEY([TOPICS_ID])
REFERENCES [dbo].[TBL_TOPICS] ([TOPICS_ID])
GO
ALTER TABLE [dbo].[TBL_USER_TOPICS_MAPPING]  WITH CHECK ADD FOREIGN KEY([TOPICS_ID])
REFERENCES [dbo].[TBL_TOPICS] ([TOPICS_ID])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_ANSWER]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_ADD_ANSWER]
@ASKED_QUESTIONS_ID INT,
@ANSWER VARCHAR(MAX),
@USER_ID INT=0,
@USER_NAME VARCHAR(30)='',
@RowCount INT OUTPUT    
AS

BEGIN
SET NOCOUNT ON     
  BEGIN TRY              
   BEGIN TRANSACTION; 
   DECLARE @INS_SRNO_ID TABLE(ANSWERS_ID BIGINT) 
   DECLARE @ID INT;

   INSERT INTO TBL_ANSWERS(ANSWER,USER_ID,USER_NAME,ADDED_DATETIME)
   OUTPUT INSERTED.ANSWERS_ID INTO @INS_SRNO_ID     
   VALUES(@ANSWER,@USER_ID,@USER_NAME,GETDATE())
   SET @ID =(SELECT ANSWERS_ID FROM @INS_SRNO_ID) 

   INSERT INTO TBL_QUESTION_ANSWER_MAPPING(ASKED_QUESTIONS_ID,ANSWERS_ID)VALUES(@ASKED_QUESTIONS_ID,@ID)
   SET @RowCount =  @@rowcount;    

     COMMIT TRANSACTION;              
  END TRY              
  BEGIN CATCH              
  IF @@TRANCOUNT > 0              
  ROLLBACK TRANSACTION;              
  DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE PROCESSING ADD REQUEST.' + ERROR_MESSAGE();                
  ;THROW 50000,@ERRORTEXT,1;              
  END CATCH              
  END
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_COMMENT]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_ADD_COMMENT]
@COMMENT VARCHAR(50),
@ADDED_BY INT,
@POST_ID INT,
@RowCount INT OUTPUT   
AS
BEGIN
SET NOCOUNT ON      
             
	 BEGIN TRY                          
	 BEGIN TRANSACTION;    

			INSERT INTO TBL_COMMENT(COMMENT,ADDED_BY,ADDED_BY_DATETIME,POST_ID)VALUES(@COMMENT,1,GETDATE(),@POST_ID)

			SET @RowCount =  @@rowcount;               
                   
	 COMMIT TRANSACTION;                          
	 END TRY                          
	 BEGIN CATCH                          
	 IF @@TRANCOUNT > 0                          
	 ROLLBACK TRANSACTION;                          
	 DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE INSERTING DATA TO COMMENT' + ERROR_MESSAGE();                            
	 ;THROW 50000,@ERRORTEXT,1;                          
	 END CATCH                          
 END    
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_POST_VIEWS]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_ADD_POST_VIEWS]
@POST_ID INT=1,
@RowCount INT OUTPUT      
AS
BEGIN
SET NOCOUNT ON
 BEGIN TRY          
  BEGIN TRANSACTION;  

		UPDATE TBL_POST SET POST_VIEW = ISNULL(POST_VIEW,0) + 1 WHERE SRNO = @POST_ID
	    SET @RowCount =  @@rowcount;    

COMMIT TRANSACTION;          
  END TRY          
  BEGIN CATCH          
   IF @@TRANCOUNT > 0          
   ROLLBACK TRANSACTION;          
   DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE UPDATING ARTICLE' + ERROR_MESSAGE();            
   ;THROW 50000,@ERRORTEXT,1;          
  END CATCH          
  END  
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_QUESTION]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        
CREATE PROCEDURE [dbo].[PROC_ADD_QUESTION]        
@USER_ID INT,    
@TITLE VARCHAR(200),        
@STOPPER_DETAILS VARCHAR(MAX),        
@ADDED_BY INT,        
@TOPICS_LIST  TB_TOPICS READONLY,           
@RowCount INT OUTPUT             
AS        
BEGIN        
 SET NOCOUNT ON             
  BEGIN TRY                      
   BEGIN TRANSACTION;         
    DECLARE @INS_SRNO_ID TABLE(ID BIGINT)            
    DECLARE @Counter INT, @TotalCount INT          
               
  CREATE TABLE #TempTable (          
   SRNO int PRIMARY KEY IDENTITY(1,1),          
   TOPICS_ID INT          
  )          
        
  INSERT INTO TBL_ASKED_QUESTIONS(TITLE,STOPPER_DETAILS,ADDED_BY,ADDED_BY_DATETIME,INSERT_DATETIME)         
  OUTPUT INSERTED.ASKED_QUESTIONS_ID INTO @INS_SRNO_ID             
  VALUES(@TITLE,@STOPPER_DETAILS,@ADDED_BY,GETDATE(),GETDATE())        
        
  INSERT INTO #TempTable(TOPICS_ID)          
  SELECT TOPICS_ID FROM @TOPICS_LIST          
        
    SET @Counter = 1                      
    SET @TotalCount = (SELECT COUNT(1) FROM #TempTable)                      
             
    DECLARE @_POST_ID INT,@IDD INT;          
    SELECT @_POST_ID =  ID  FROM @INS_SRNO_ID                 
          
   INSERT INTO TBL_USER_QUESTION_MAPPING(ASKED_QUESTIONS_ID,USER_ID)VALUES(@_POST_ID,@USER_ID)    
    
     WHILE (@Counter <=@TotalCount)                      
     BEGIN                      
      SET @IDD =(SELECT ID FROM @INS_SRNO_ID);      
      
      INSERT INTO TBL_USER_QUESTION_TOPICS_MAPPING(ASKED_QUESTIONS_ID,TOPICS_ID)          
      SELECT @IDD,TOPICS_ID  FROM #TempTable WHERE SRNO =@Counter           
              
      SET @RowCount =  @@rowcount;                       
      SET @Counter = @Counter + 1              
                      
      CONTINUE;                      
     END              
    --          
   DROP TABLE #TempTable                  
   COMMIT TRANSACTION;                      
  END TRY                      
  BEGIN CATCH                      
  IF @@TRANCOUNT > 0                      
  ROLLBACK TRANSACTION;                      
  DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE PROCESSING ADD REQUEST.' + ERROR_MESSAGE();                        
  ;THROW 50000,@ERRORTEXT,1;                      
  END CATCH                      
  END     
    
  
  
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_QUESTION_VIEWS]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_ADD_QUESTION_VIEWS]
@ASKED_QUESTIONS_ID INT=1,
@RowCount INT OUTPUT      
AS
BEGIN
SET NOCOUNT ON
 BEGIN TRY          
  BEGIN TRANSACTION;  

		UPDATE TBL_ASKED_QUESTIONS SET POST_VIEW = ISNULL(POST_VIEW,0) + 1 WHERE ASKED_QUESTIONS_ID = @ASKED_QUESTIONS_ID
	    SET @RowCount =  @@rowcount;    

COMMIT TRANSACTION;          
  END TRY          
  BEGIN CATCH          
   IF @@TRANCOUNT > 0          
   ROLLBACK TRANSACTION;          
   DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE UPDATING QUESTION' + ERROR_MESSAGE();            
   ;THROW 50000,@ERRORTEXT,1;          
  END CATCH          
  END  
GO
/****** Object:  StoredProcedure [dbo].[PROC_CREATE_POST]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
    
          
CREATE PROCEDURE [dbo].[PROC_CREATE_POST]          
@TITLE  VARCHAR(100),          
@POST VARCHAR(MAX),          
@USER_ID INT,    
@TOPICS_LIST  TB_TOPICS READONLY,            
@RowCount INT OUTPUT             
AS          
BEGIN          
SET NOCOUNT ON                
                       
  BEGIN TRY                                    
  BEGIN TRANSACTION;              
  DECLARE @INS_SRNO_ID TABLE(ID INT)          
  DECLARE @Counter INT, @TotalCount INT        
             
 CREATE TABLE #TempTable (        
  SRNO int PRIMARY KEY IDENTITY(1,1),        
  TOPICS_ID INT        
 )        
        
   INSERT INTO TBL_POST(TITLE,POST,ADDED_DATE,ADDED_BY,INSERT_DATETIME)        
   OUTPUT INSERTED.SRNO INTO @INS_SRNO_ID           
   VALUES(@TITLE,@POST,GETDATE(),'SYSTEM',GETDATE())          
     
   DECLARE @_POST_ID_TEMP INT;      
  SELECT @_POST_ID_TEMP =  ID  FROM @INS_SRNO_ID             
   --INSERTING INTO USER POST MAPPING TABLE  
   INSERT INTO TBL_USER_POST_MAPPING(USER_ID,POST_ID,ADDED_DATETIME)      
   VALUES(@USER_ID,@_POST_ID_TEMP,GETDATE())    
          
   INSERT INTO #TempTable(TOPICS_ID)        
   SELECT TOPICS_ID FROM @TOPICS_LIST        
  --        
  SET @Counter = 1                    
  SET @TotalCount = (SELECT COUNT(1) FROM #TempTable)                    
           
  DECLARE @_POST_ID INT;      
  SET @_POST_ID=(SELECT ID  FROM @INS_SRNO_ID )                 
        
  WHILE (@Counter <=@TotalCount)                    
  BEGIN                    
           
   INSERT INTO TBL_USER_TOPICS_MAPPING(TOPICS_ID,POST_ID)        
   SELECT TOPICS_ID,@_POST_ID AS POST_ID  FROM #TempTable WHERE SRNO =@Counter         
     SET @RowCount =  @@rowcount;                     
   SET @Counter = @Counter + 1                    
   CONTINUE;                    
  END            
  --        
    DROP TABLE #TempTable              
                      
                     
  COMMIT TRANSACTION;                                    
  END TRY                                    
  BEGIN CATCH                                    
  IF @@TRANCOUNT > 0                                    
  ROLLBACK TRANSACTION;                                    
  DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE INSERTING DATA TO POST' + ERROR_MESSAGE();                                      
  ;THROW 50000,@ERRORTEXT,1;                                    
  END CATCH                                    
 END 
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ANSWER]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC PROC_GET_ANSWER 5
CREATE PROCEDURE [dbo].[PROC_GET_ANSWER]
@ASKED_QUESTIONS_ID INT
AS
BEGIN

	SELECT A.ANSWERS_ID,A.ANSWER,CASE WHEN A.USER_ID = NULL THEN A.USER_NAME ELSE B.USER_NAME END AS USER_NAME,A.ADDED_DATETIME FROM TBL_ANSWERS A WITH(NOLOCK) 
	LEFT OUTER JOIN TBL_USER_LOGIN B ON A.USER_ID = B.SRNO
	LEFT OUTER JOIN TBL_QUESTION_ANSWER_MAPPING C ON A.ANSWERS_ID = C.ANSWERS_ID
	WHERE (@ASKED_QUESTIONS_ID =0) OR (C.ASKED_QUESTIONS_ID=@ASKED_QUESTIONS_ID)

END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_COMMENT]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC PROC_GET_COMMENT 4
 CREATE PROCEDURE [dbo].[PROC_GET_COMMENT]
 @POST_ID INT
 AS
 BEGIN
 SELECT COMMENT_ID,COMMENT,'Amar Sutar' AS ADDED_BY,ADDED_BY_DATETIME,POST_ID FROM  TBL_COMMENT WITH(NOLOCK) WHERE POST_ID = @POST_ID
 ORDER BY COMMENT_ID DESC
 END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_POST_DETAILS]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 --EXEC PROC_GET_POST_DETAILS 1,0,'ADDED_DATE','asc',0,10,NULL        
CREATE PROCEDURE [dbo].[PROC_GET_POST_DETAILS]        
--DECLARE      
@USER_ID INT=0,    
@SRNO INT=0,        
@SORTCOLUMN VARCHAR(50)='ADDED_DATE',                                   
@SORTORDER VARCHAR(50)='asc',                                    
@OFFSETVALUE INT=0,                                     
@PAGINGSIZE INT=10,                                  
@SEARCHTEXT VARCHAR(50)=NULL        
AS        
BEGIN        
  DECLARE @FIRSTREC INT, @LASTREC INT        
  SET @FIRSTREC = @OFFSETVALUE;                                  
  SET @LASTREC = @OFFSETVALUE + @PAGINGSIZE;          
        
 ;WITH CTE AS (      
 SELECT POST_ID,COUNT(*) AS _COMMENT_COUNT FROM TBL_COMMENT GROUP BY POST_ID      
 ),
 CTE_TOPICS AS (
	SELECT B.SRNO AS POST_ID,STUFF((SELECT ', ' + CAST(C.TOPIC AS VARCHAR)  	FROM TBL_USER_TOPICS_MAPPING A 	INNER JOIN TBL_TOPICS C ON A.TOPICS_ID = C.TOPICS_ID 	WHERE B.SRNO=A.POST_ID FOR XML PATH('')), 1, 1, '') AS TOPICS FROM TBL_POST B 	GROUP BY B.SRNO
 )      
    
  SELECT A.SRNO,TITLE,POST,D.USER_NAME AS ADDED_BY,A.INSERT_DATETIME AS ADDED_DATE,ISNULL(A.POST_VIEW,0)AS POST_VIEW,_COMMENT_COUNT,C.USER_ID AS  USER_ID,E.TOPICS    
  INTO #POST  FROM TBL_POST A WITH(NOLOCK)      
  INNER JOIN TBL_USER_POST_MAPPING C ON A.SRNO = C.POST_ID    
  INNER JOIN TBL_USER_LOGIN D ON C.USER_ID = D.SRNO  
  LEFT OUTER JOIN CTE B WITH(NOLOCK) ON A.SRNO=B.POST_ID     
  LEFT OUTER JOIN CTE_TOPICS E ON E.POST_ID=C.POST_ID

   WHERE (( 0 = @USER_ID) OR (C.USER_ID= @USER_ID)) AND ((@SRNO =0 ) OR (A.SRNO =@SRNO))       
      
  ;WITH CTE AS(        
   SELECT                                   
    ROW_NUMBER() OVER( ORDER BY                                 
     CASE WHEN (@sortColumn = 'SRNO' AND @sortOrder ='ASC')                                   
     THEN  SRNO           
     END ASC,                                  
     CASE WHEN (@sortColumn = 'SRNO' AND @sortOrder ='DESC')                                   
     THEN  SRNO                                  
     END DESC        
  ,        
  CASE WHEN (@sortColumn = 'TITLE' AND @sortOrder ='ASC')                                   
     THEN  TITLE           
     END ASC,                                  
     CASE WHEN (@sortColumn = 'TITLE' AND @sortOrder ='DESC')                                   
     THEN  TITLE                                  
     END DESC        
  ,        
  CASE WHEN (@sortColumn = 'POST' AND @sortOrder ='ASC')                                   
     THEN  POST           
     END ASC,                                  
     CASE WHEN (@sortColumn = 'POST' AND @sortOrder ='DESC')                                   
     THEN  POST                                  
     END DESC        
  ,        
  CASE WHEN (@sortColumn = 'ADDED_DATE' AND @sortOrder ='ASC')                                   
     THEN  ADDED_DATE           
     END ASC,                                  
     CASE WHEN (@sortColumn = 'ADDED_DATE' AND @sortOrder ='DESC')                                   
     THEN  ADDED_DATE                                  
     END DESC        
                           
  )  AS ROW_NUMB, COUNT(*) OVER() AS TOTALCOUNT,SRNO,TITLE,POST,ADDED_BY,FORMAT(ADDED_DATE, 'dd/MM/yyyy HH:mm:ss')AS ADDED_DATE,ISNULL(POST_VIEW,0)AS POST_VIEW,ISNULL(_COMMENT_COUNT,0)AS COMMENT_COUNT,USER_ID,TOPICS FROM #POST V        
   WHERE                                   
  (@SearchText IS NULL OR                                   
  V.TITLE  like '%' +  @SearchText   + '%'          
  OR V.POST  LIKE '%' + @SearchText + '%'                            
    )          
   ) SELECT * FROM  CTE  WHERE ROW_NUMB > @FIRSTREC AND ROW_NUMB <= @LASTREC          
    DROP TABLE #POST           
        
END

GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_QUESTIONDETAILS]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
          
--EXEC PROC_GET_QUESTIONDETAILS 2,0,'ADDED_DATE','ASC',0,10,NULL      
CREATE PROCEDURE [dbo].[PROC_GET_QUESTIONDETAILS]        
--DECLARE      
@USER_ID INT=0,        
@ASKED_QUESTIONS_ID INT=0,          
@SORTCOLUMN VARCHAR(50)='ADDED_DATE',                                       
@SORTORDER VARCHAR(50)='asc',                                        
@OFFSETVALUE INT=0,                                         
@PAGINGSIZE INT=10,                                      
@SEARCHTEXT VARCHAR(50)=NULL            
AS          
BEGIN          
  DECLARE @FIRSTREC INT, @LASTREC INT            
  SET @FIRSTREC = @OFFSETVALUE;                                      
  SET @LASTREC = @OFFSETVALUE + @PAGINGSIZE;              
            
;WITH CTE AS (      
SELECT ASKED_QUESTIONS_ID AS ASKED_QUESTIONS_ID,COUNT(*)AS _ANSWER_COUNT FROM TBL_QUESTION_ANSWER_MAPPING GROUP BY ASKED_QUESTIONS_ID      
),
CTE_TOPICS AS 
(
SELECT B.ASKED_QUESTIONS_ID AS ASKED_QUESTIONS_ID,STUFF((SELECT ', ' + CAST(C.TOPIC AS VARCHAR)  	FROM TBL_USER_QUESTION_TOPICS_MAPPING A 	INNER JOIN TBL_TOPICS C ON A.TOPICS_ID = C.TOPICS_ID 	WHERE B.ASKED_QUESTIONS_ID=A.ASKED_QUESTIONS_ID FOR XML PATH('')), 1, 1, '') AS TOPICS FROM TBL_ASKED_QUESTIONS B 	GROUP BY B.ASKED_QUESTIONS_ID
)      
       
          
  SELECT A.ASKED_QUESTIONS_ID,TITLE,STOPPER_DETAILS,D.USER_NAME ADDED_BY,A.ADDED_BY_DATETIME,POST_VIEW,C._ANSWER_COUNT,E.TOPICS     
    
  INTO #TBL_ASKED_QUESTIONS FROM  TBL_ASKED_QUESTIONS A WITH(NOLOCK)       
    
  INNER  JOIN TBL_USER_QUESTION_MAPPING B WITH(NOLOCK)   ON A.ASKED_QUESTIONS_ID = B.ASKED_QUESTIONS_ID    
  INNER JOIN TBL_USER_LOGIN D WITH(NOLOCK)   ON B.USER_ID = D.SRNO    
  LEFT OUTER JOIN CTE C WITH(NOLOCK)   ON A.ASKED_QUESTIONS_ID = C.ASKED_QUESTIONS_ID     
  LEFT OUTER JOIN  CTE_TOPICS E ON E.ASKED_QUESTIONS_ID = B.ASKED_QUESTIONS_ID

  WHERE  (( 0 = @USER_ID) OR (D.SRNO= @USER_ID)) AND (@ASKED_QUESTIONS_ID = 0) OR (A.ASKED_QUESTIONS_ID =@ASKED_QUESTIONS_ID)    
    
 ;WITH CTE AS(            
   SELECT                                       
    ROW_NUMBER() OVER( ORDER BY                                     
     CASE WHEN (@sortColumn = 'ASKED_QUESTIONS_ID' AND @sortOrder ='ASC')                                       
     THEN  ASKED_QUESTIONS_ID               
     END ASC,                                      
     CASE WHEN (@sortColumn = 'ASKED_QUESTIONS_ID' AND @sortOrder ='DESC')                                       
     THEN  ASKED_QUESTIONS_ID                                      
     END DESC            
  ,            
  CASE WHEN (@sortColumn = 'TITLE' AND @sortOrder ='ASC')                                       
     THEN  TITLE               
     END ASC,                                      
     CASE WHEN (@sortColumn = 'TITLE' AND @sortOrder ='DESC')                                       
     THEN  TITLE                                      
     END DESC            
  ,            
  CASE WHEN (@sortColumn = 'STOPPER_DETAILS' AND @sortOrder ='ASC')                                       
     THEN  STOPPER_DETAILS               
     END ASC,                                      
     CASE WHEN (@sortColumn = 'STOPPER_DETAILS' AND @sortOrder ='DESC')                                       
     THEN  STOPPER_DETAILS                                      
     END DESC            
  ,            
  CASE WHEN (@sortColumn = 'ADDED_BY_DATETIME' AND @sortOrder ='ASC')                                       
     THEN  ADDED_BY_DATETIME               
     END ASC,                                      
     CASE WHEN (@sortColumn = 'ADDED_BY_DATETIME' AND @sortOrder ='DESC')                                       
     THEN  ADDED_BY_DATETIME                                      
     END DESC,            
          
   CASE WHEN (@sortColumn = 'ADDED_BY' AND @sortOrder ='ASC')                                       
     THEN  ADDED_BY               
     END ASC,                                      
     CASE WHEN (@sortColumn = 'ADDED_BY' AND @sortOrder ='DESC')                                       
     THEN  ADDED_BY                                      
     END DESC            
                               
  )  AS ROW_NUMB, COUNT(*) OVER() AS TOTALCOUNT,ASKED_QUESTIONS_ID,TITLE,STOPPER_DETAILS,ADDED_BY,FORMAT (ADDED_BY_DATETIME, 'dd/MM/yyyy HH:mm:ss') AS ADDED_BY_DATETIME,ISNULL(POST_VIEW,0)AS POST_VIEW,  
  ISNULL(_ANSWER_COUNT,0) AS ANSWER_COUNT,TOPICS  
   FROM #TBL_ASKED_QUESTIONS V            
   WHERE                        
  (@SearchText IS NULL OR                                       
  V.TITLE  like '%' +  @SearchText   + '%'              
  OR V.STOPPER_DETAILS  LIKE '%' + @SearchText + '%'            
    )              
   ) SELECT * FROM  CTE  WHERE ROW_NUMB > @FIRSTREC AND ROW_NUMB <= @LASTREC              
    DROP TABLE #TBL_ASKED_QUESTIONS             
 END  
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_TOPICS]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_TOPICS]
@TOPICS_ID INT=0
AS

BEGIN

SELECT TOPICS_ID,TOPIC,ADDED_BY,ADDED_BY_DATETIME FROM TBL_TOPICS WITH(NOLOCK) WHERE ((@TOPICS_ID =0) OR (TOPICS_ID=@TOPICS_ID))
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_VALIDATE_USER]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC PROC_GET_VALIDATE_USER 'asutar2012@gmail.com','amar@123'
CREATE PROCEDURE [dbo].[PROC_GET_VALIDATE_USER]          
@EMAIL_ID VARCHAR(50)='asutar2012@gmail.com',         
@PASSWORD VARCHAR(200)='amar@123'        
AS           
BEGIN          
          
 --SELECT SRNO AS USER_ID,USER_ID AS USER_ID_UNIQUE,A.USER_NAME,A.ROLE_ID,B.NAME,A.EMAIL_ID FROM TBL_USER_LOGIN A WITH(NOLOCK) INNER JOIN TBL_USER_ROLE B WITH(NOLOCK)  ON A.ROLE_ID=B.ROLE_ID           
 --WHERE EMAIL_ID=@EMAIL_ID AND PASSWORD=@PASSWORD AND A.IS_ACTIVE=1          
           
     DECLARE @FLAG BIT=0,@USER_ID INT,@USER_NAME VARCHAR(20);      
        IF EXISTS(SELECT 1 FROM TBL_USER_LOGIN  WITH(NOLOCK) WHERE EMAIL_ID=@EMAIL_ID AND PASSWORD=@PASSWORD  AND IS_ACTIVE=1 )                          
   BEGIN        
     SET @FLAG=1;      
  SELECT @USER_ID=SRNO,@USER_NAME=USER_NAME FROM TBL_USER_LOGIN WITH(NOLOCK) WHERE  EMAIL_ID=@EMAIL_ID AND PASSWORD=@PASSWORD  AND IS_ACTIVE=1  
  
     SELECT  @EMAIL_ID AS  EMAIL_ID ,@USER_ID AS USER_ID,1 AS Flag,@USER_NAME AS USER_NAME;         
   END;       
  ELSE      
  BEGIN        
   SET @FLAG=0;      
   SELECT  'NOT FOUND' AS  EMAIL_ID ,0 AS USER_ID,0 AS Flag;       
  END                    
END 
GO
/****** Object:  StoredProcedure [dbo].[PROC_REGISTER_USER]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_REGISTER_USER]
@USER_ID UNIQUEIDENTIFIER,
@USER_NAME VARCHAR(30),
@PASSWORD VARCHAR(30),
@EMAIL_ID VARCHAR(30),
@ACTIVATION_CODE UNIQUEIDENTIFIER,
@RowCount INT OUTPUT
AS
BEGIN
 BEGIN TRY                          
	 BEGIN TRANSACTION;    

			INSERT INTO TBL_USER_LOGIN(USER_ID,USER_NAME,PASSWORD,EMAIL_ID,IS_ACTIVE,ADDED_BY_DATETIME,ACTIVATION_CODE,ACTIVATION_DATETIME)
			VALUES
			(@USER_ID,@USER_NAME,@PASSWORD,@EMAIL_ID,0,GETDATE(),@ACTIVATION_CODE,GETDATE())
			SET @RowCount =  @@rowcount;               

 COMMIT TRANSACTION;                          
	 END TRY                          
	 BEGIN CATCH                          
	 IF @@TRANCOUNT > 0                          
	 ROLLBACK TRANSACTION;                          
	 DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE INSERTING DATA TO USER LOGIN' + ERROR_MESSAGE();                            
	 ;THROW 50000,@ERRORTEXT,1;                          
	 END CATCH                      
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_VALIDATE_USER_EMAIL]    Script Date: 05-05-2023 05:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_VALIDATE_USER_EMAIL]
@EMAIL_ID VARCHAR(50),
@RowCount INT OUTPUT
AS

BEGIN

IF EXISTS(SELECT (1) FROM TBL_USER_LOGIN WITH(NOLOCK) WHERE EMAIL_ID = @EMAIL_ID)
BEGIN
SET @RowCount = 1
END
ELSE
BEGIN
SET @RowCount = 0
END

END
GO
